<div>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right " id="sidebar-wrapper">
          <button class="list-group-item list-group-item-action bg-light font-weight-bold" (click)="showMain()">{{ token.email }}</button>
          <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action bg-light" (click)="showSchedule()">Schedule</button>
            <button class="list-group-item list-group-item-action bg-light" (click)="showChoices()">Choose classes</button>
    
        
            <div class="btn-group dropright">
              <button type="button" class="list-group-item list-group-item-action btn dropdown-toggle bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exchanges
              </button>
              <div class="dropdown-menu">
                <button class="list-group-item list-group-item-action bg-light" (click)="makeNewExchange()">Add exchange</button>
                <button class="list-group-item list-group-item-action bg-light" (click)="editExchanges()">All exchanges</button>
              </div>
            </div>
    
            <div class="btn-group dropright">
              <button type="button" class="list-group-item list-group-item-action btn dropdown-toggle bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theme
              </button>
              <div class="dropdown-menu">
                <button class="list-group-item list-group-item-action bg-light" >Day mode</button>
                <button (click) = "toDarkMode()"class="list-group-item list-group-item-action bg-light">Night Mode</button>
              </div>
            </div>
    
            <div class="btn-group dropright">
              <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu">
                <button class="list-group-item list-group-item-action bg-light" (click)="changePassword()">Change password</button>
                <a routerLink="/" (click) = "logout()" class="list-group-item list-group-item-action bg-light">Loggout</a>
              </div>
            </div>
    
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-danger" id="menu-toggle">Menu</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav ml-auto mt-2 mt-lg-0">
              <div *ngFor="let field of fields" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">{{ field.name }}</label>
              </div>
          </div>
          </nav>
          <div class="container-fluid" *ngIf="MainDisplay" >
            <h1 class="mt-4">SignMeUp</h1>
            <p>Celem projektu jest implementacja <code>SignMeUp</code> - platformy internetowej służacej do tworzenia 
            spersonalizowanego planu zajęć według szablonu stworzonego przez dziekanat. 
            Użytkownicy mają możliwość przypisania punktowego priorytetu do określonych zajęć, 
            a algorytm przydziela jak najkorzystniejeszy plan dla wszystkich studentów. 
            Dodatkowo istnieje możliwość zamiany już przypisanych zajęć poprzez giełd̨e zamian.
            </p>
          </div>

          <div class="container-fluid" *ngIf="ScheduleDisplay" >
            <table id="tablePreview" class="table table-hover table-bordered table-striped table-sm mt-3">
              <!--Table head-->
                <thead>
                  <tr>
                    <th></th>
                    <th *ngFor = "let day of days">
                      {{ day }}
                  </th>
                  </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
             
                <tbody>
                  <tr *ngFor="let index of indexes">
                    {{ start_hours[index] }} - {{ end_hours[index] }}
                    <td *ngFor = "let day of days">
                        hello
                    </td>
                    
                </tr>
                </tbody>
                <!--Table body-->
              </table>
          </div>

          <div class="container-fluid row" *ngIf="ChoicesDisplay" >
            
            <p>Points left: {{ points }}</p>
            <button class="btn-danger">Reset points</button>
            <div class="col-8">
            <table id="tablePreview" class="table table-hover table-bordered table-striped table-sm mt-3">
              <!--Table head-->
                <thead>
                  <tr>
                    <th></th>
                    <th *ngFor = "let day of days">
                      {{ day }}
                  </th>
                  </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
             
                <tbody class="">
                  <tr *ngFor="let index of indexes " class="justify-content-start">
                    {{ start_hours[index] }} - {{ end_hours[index] }}
                    <td *ngFor = "let day of days">
                      
                      <ul *ngFor="let class of myClasses">
                      <p *ngIf="class.start_time===start_hours[index] && class.day===day" >
                       
                        {{ class.name }}
                      </p>
                      <p *ngIf="class.start_time===start_hours[index] && class.day===day" >
                       
                        <input  class="text-dark align-items-end rounded " style="background-color:antiquewhite" 
                        type="number"  name="myPriority" min="1" max="8"> 
                      </p>
                    </ul>
                        
                    </td>
                    
                </tr>
                </tbody>
                <!--Table body-->
              </table>
            </div>
          </div>

          <div class="container-fluid text-dark border-light rounded" *ngIf="NewExchangeDisplay">
            <div class="row">
              <div class="col-4">
                 <!-- Textbox -->
                 <div class="well border-light rounded text-dark" >
                  <form class="border border-light rounded mt-3 mb-1 p-2"  >
                 
                    <!-- Subject -->
                    <label>Field of study</label>
                    <select required [(ngModel)]="chosenField" style="background-color: antiquewhite" class="browser-default text-dark custom-select mb-2" name="exchange">
                      <option value="" disabled>Choose option</option>
                      <option  class=" text-dark" *ngFor="let field of fields" style="background-color: antiquewhite;" [value]="subject.id">{{subject.name}}</option>
                    </select>
                    <label>From</label>
                    <select required [(ngModel)]="exchange.from" style="background-color: antiquewhite" class="browser-default text-dark custom-select mb-2" name="exchange">
                      <option value="" disabled>Choose option</option>
                      <option  class="text-dark" *ngFor="let subject of subjects" style="background-color:antiquewhite;" [value]="subject.id">{{subject.name}}</option>
                    </select>
                    <label>To</label>
                    <select required [(ngModel)]="exchange.to" style="background-color: antiquewhite" class="browser-default text-dark custom-select mb-2" name="exchange">
                      <option value="" disabled>Choose option</option>
                      <option  class="text-dark" *ngFor="let subject of subjects" style="background-color: antiquewhite;" [value]="subject.id">{{subject.name}}</option>
                    </select>
                  </form>
                  
                  
                  <form class="border border-light rounded p-2  mb-1">
                      <label>Priority (1-5) :</label>
                      <div></div>
                      <input [(ngModel)]="exchange.priority" class="text-dark rounded" style="background-color:antiquewhite" type="number" id="quantity" name="exchange" min="1" max="5" required>
                  </form>
                  <form class="border border-light p-1">
                    <button mdbBtn block="true" (click)="addExchange()"class="btn btn-light border-light" type="submit">Add application</button>
                  </form>
                </div>
              </div>
            <div class="col-8">
               <!-- Textbox -->
                <div class="well mt-3 rounded " >
                  <table id="tablePreview" class="table table-hover table-bordered table-striped table-sm mt-3">
                    <!--Table head-->
                      <thead>
                        <tr>
                          <th></th>
                          <th *ngFor = "let day of days">
                            {{ day }}
                        </th>
                        </tr>
                      </thead>
                      <!--Table head-->
                      <!--Table body-->
                   
                      <tbody>
                        <tr *ngFor="let index of indexes">
                          {{ start_hours[index] }} - {{ end_hours[index] }}
                          <td *ngFor = "let day of days">
                              hello
                          </td>
                          
                      </tr>
                      </tbody>
                      <!--Table body-->
                    </table>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" *ngIf="PasswordDisplay">
            <div class="row">
              <div class="col-4" >
                 <!-- Textbox -->
                 <div class="well "  >
                  <form class="border border-light mt-3 p-1">
                 
                    <!-- Subject -->
                    <label>Old password</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="Old password">
                    <label>New password</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="New password">
                    <label>Repeat new passowrd</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="Repeat new password">
                  
                  </form>
                  
                  <form class="border border-light p-1">
                    <button mdbBtn block="true" class="btn btn-dark" type="submit">Change password</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

            <div class="container-fluid" *ngIf="EditExchangeDisplay">
              <div class="row">
                <div class="col-5">
                   <!-- Textbox -->
                   <div class="well "  style="background-color:mintcream">
                    <!--Table-->
<table id="tablePreview" class="table table-hover table-striped table-sm mt-3">
  <!--Table head-->
    <thead>
      <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
 
    <tbody>
      <tr *ngFor="let student of stu">
        <td *ngFor = "let column of headers">
            {{ student[column] }}
        </td>
        <td>
            <button (click)="deleteUser(student.id)" class="btn btn-sm float-right login_btn btn-danger">x</button>
        </td>
    </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
                  </div>
                </div>
                <div class="col-7">
                 <!-- Textbox -->
                  <div class="well mt-3 rounded" >
                    <table id="tablePreview" class="table table-hover table-bordered table-striped table-sm mt-3">
                      <!--Table head-->
                        <thead>
                          <tr>
                            <th></th>
                            <th *ngFor = "let day of days">
                              {{ day }}
                          </th>
                          </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                     
                        <tbody>
                          <tr *ngFor="let index of indexes">
                            {{ start_hours[index] }} - {{ end_hours[index] }}
                            <td *ngFor = "let day of days">
                                hello
                            </td>
                            
                        </tr>
                        </tbody>
                        <!--Table body-->
                      </table>
                  </div>
                </div>
              </div> 
            </div>             

        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
    </div>
    </div>

