<div>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="list-group-item list-group-item-action bg-light font-weight-bold" (click)="showMain()" >
           <div (click)="showMain()"> {{ name }}</div>
          </div>
          <div class="list-group list-group-flush">
            <button (click)="showUsers()"class="list-group-item list-group-item-action bg-light" (click)="showUsers()">See admins</button>
    
            <div class="btn-group dropright">
              <button type="button" class="list-group-item list-group-item-action btn dropdown-toggle bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theme
              </button>
              <div class="dropdown-menu">
                <button class="list-group-item list-group-item-action bg-light" >Day mode</button>
                <button (click)="toDarkMode()" class="list-group-item list-group-item-action bg-light">Night mode</button>
              </div>
            </div>
    
            <div class="btn-group dropright">
              <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu">
                <button (click)="showPassword()" class="list-group-item list-group-item-action bg-light" (click)="changePassword()">Change password</button>
                <a (click)="loggout()" class="list-group-item list-group-item-action bg-light">Loggout</a>
              </div>
            </div>
    
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-danger" id="menu-toggle">Menu</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
  
          <div class="container-fluid" *ngIf="MainDisplay" >
            <h1 class="mt-4">SignMeUp</h1>
            <p>Celem projektu jest implementacja <code>SignMeUp</code> - platformy internetowej służacej do tworzenia 
            spersonalizowanego planu zajęć według szablonu stworzonego przez dziekanat. 
            Użytkownicy mają możliwość przypisania punktowego priorytetu do określonych zajęć, 
            a algorytm przydziela jak najkorzystniejeszy plan dla wszystkich studentów. 
            Dodatkowo istnieje możliwość zamiany już przypisanych zajęć poprzez giełd̨e zamian.
            </p>
          </div>
  
          <div class="container-fluid" *ngIf="UsersDisplay">
            <div class="row" style="margin-left: 20px; margin-top: 10px;">
                <div class="d-flex justify-content-center" style=" margin-right: 10px; margin-bottom: 10px;">
                    <div class="card">
                    <div class="card-header">
                        <h5>Deparatment's admins</h5>
                    </div>
                <table class="table table-striped table-hover">
               
                <tbody>
                    <p *ngFor="let dep of departments">
                        <tr *ngFor = "let adm of dep.departmentAdmins">
                          <td *ngFor = "let h of headers">
                            {{ adm.user[h] }}
                          </td>
                            <td>
                              <button class="button btn-danger rounded" type="submit" (click) = "deleteUser()">X</button>
                            </td>
                        </tr>
                       
                      </p>
                </tbody>
                </table>
                </div>
                </div>
                    <div class="d-flex justify-content-center h-50" style=" margin-right: 10px; margin-bottom: 10px;">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add user</h5>
                            </div>
                    <div class="card-body">
                        <form>
                
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input [(ngModel)] ="registeredUser.email" type="text" class="form-control"  name="student" placeholder="email" required>
                         
                            </div>
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                              <input [(ngModel)] ="registeredUser.username" type="text" class="form-control"  name="student" placeholder="username" required>
                       
                          </div>
                            <form class="border border-light p-1">
                              <label>Choose department</label>
                              <select [(ngModel)]="registeredUser.department" class="browser-default custom-select mb-4"  name="student">
                                <option value="" disabled>Choose department</option>
                                
                                 <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                              </select>
                            </form>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input [(ngModel)] ="registeredUser.password" type="password" class="form-control" name="student" placeholder="password" required>
                            </div>
            
                            <div class="form-group">
                                <button (click) = "addUser()" type="submit"  class="btn float-right login_btn btn-danger">
                                    <a routerLink="/admin" style="text-decoration: none; color: white;">Register</a>
                                </button>
                            </div>
                            <p *ngIf="addedInfo" style = "color:crimson; "> Department admin added! </p>
                        </form>
                    </div>
                </div>
                </div>
                <div class="d-flex justify-content-center h-50" style=" margin-right: 10px;">
                  <div class="card">
                      <div class="card-header">
                          <h5>Add department</h5>
                      </div>
              <div class="card-body">
                  <form>
          
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input [(ngModel)] ="newDepartment" type="text" class="form-control"  name="newDepartment" placeholder="name" required>
                   
                      </div>
      
                      <div class="form-group">
                          <button (click) = "addDepartment()" type="submit"  class="btn float-right login_btn btn-danger">
                              <a routerLink="/admin" style="text-decoration: none; color: white;">Add</a>
                          </button>
                      </div>
                      <p *ngIf="addedDepInfo" style = "color:crimson; "> Department added! </p>
                  </form>
              </div>
          </div>
          </div>
            </div>
          </div>
  
          <div class="container-fluid" *ngIf="PasswordDisplay">
            <div class="row">
              <div class="col-4" >
                 <!-- Textbox -->
                 <div class="well "  >
                  <form class="border border-light mt-3 p-1">
                 
                    <!-- Subject -->
                    <label>Old password</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="Old password">
                    <label>New password</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="New password">
                    <label>Repeat new password</label>
                    <input type="password" style="background-color:antiquewhite" class="form-control rounded mb-1" placeholder="Repeat new password">
                  
                  </form>
                  
                  <form class="border border-light p-1">
                    <button mdbBtn block="true" class="btn btn-dark" type="submit">Change password</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
    </div>

