<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="loginOptions" >
				<span style="text-decoration: none; color: white; margin-left: 20px; margin-top: 10px; margin-right: 20px;">Zaloguj się jako: </span>
				<button type="button" (click) = "showStudentLogin()" value="Student" class="btn btn-outline-danger" style="text-decoration: none; color: white;">Student</button>
				<button type="button" (click) = "showDeanLogin()" value="Dean" class="btn btn-outline-danger" style="text-decoration: none; color: white;">Dziekanat</button>
			</div>
			<div class="card-body" *ngIf="StudentLogin">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control"  placeholder="student's username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<button type="submit" value="Login" class="btn float-right login_btn btn-danger">
                            <a routerLink="/student" style="text-decoration: none; color: white;">Login</a>
                        </button>
					</div>
                </form>
			</div>
			<div class="card-body" *ngIf="DeanLogin">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control"  placeholder="dean's username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<button type="submit" value="Login" class="btn float-right login_btn btn-danger">
                            <a routerLink="/dean" style="text-decoration: none; color: white;">Login</a>
                        </button>
					</div>
                </form>
			</div>
			<div class="card-footer" *ngIf="DeanLogin || StudentLogin">
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
            </div>
		</div>
	</div>
</div>