<div>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Daniel Klarenbum </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Wyświetl plan</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Wybór przedmiotów</a>

    
        <div class="btn-group dropright">
          <button type="button" class="list-group-item list-group-item-action btn dropdown-toggle bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Giełda zamian
          </button>
          <div class="dropdown-menu">
            <a href="#" class="list-group-item list-group-item-action bg-light">Złóż podanie</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Edytuj/usuń podanie</a>
          </div>
        </div>

        <div class="btn-group dropright">
          <button type="button" class="list-group-item list-group-item-action btn dropdown-toggle bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Motyw
          </button>
          <div class="dropdown-menu">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dzienny</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Nocny</a>
          </div>
        </div>

        <div class="btn-group dropright">
          <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Konto
          </button>
          <div class="dropdown-menu">
            <a href="#" class="list-group-item list-group-item-action bg-light">Zmień hasło</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Wyloguj się</a>
          </div>
        </div>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-danger" id="menu-toggle">Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav ml-auto mt-2 mt-lg-0">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Informatyka</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Dziennikarstwo</label>
          </div>
      </div>
      </nav>
      <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</div>